{% for offer in object_list %}
<div class="lg:w-1/4 md:w-1/2 p-4 w-full">
    <a href="{% url 'offers:offer-detail' offer.pk %}" class="block relative h-64 rounded overflow-hidden">
        {% if offer.product_img_local %}
        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{ offer.product_img_local }}">
        {% else %}
        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
        {% endif %}
    </a>
    <div class="mt-4">
        <h2 class="text-gray-900 title-font text-lg font-medium"><a href="{% url 'offers:offer-detail' offer.pk %}">{{ offer.product_name }}</a></h2>
        <p class="mt-1">{{ offer.product_price }}</p>
    </div>
</div>
{% endfor %}