{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'js/exp_offers.js' %}"></script>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto" id="offer-details-container">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div x-data="{ isOpen: true }" x-show="isOpen" id="alert-3"
                    class="flex p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                    role="alert">
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div class="ml-3 text-sm font-medium">
                        {{ message }}
                    </div>
                    <button type="button"
                            class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"
                            @click="isOpen = false" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <h2 class="text-sm title-font text-gray-500 tracking-widest"><a href="{% url 'offers:offer-list' %}">Go
                        back</a></h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ offer.product_name }}</h1>
                <div x-data="{ firstClicked: true, secondClicked: false }">
                    <div class="flex mb-4">
                        <a id="offer-detail-tab" x-on:click="firstClicked = true; secondClicked = false"
                            x-bind:class="{ 'flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1': firstClicked, 'flex-grow border-b-2 border-gray-300 py-2 text-lg px-1': !firstClicked }">Description</a>
                        <a id="exp-offers-tab" x-on:click="secondClicked = true; firstClicked = false"
                            x-bind:class="{ 'flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1': secondClicked, 'flex-grow border-b-2 border-gray-300 py-2 text-lg px-1': !secondClicked }">Expired
                            offers</a>
                    </div>
                </div>
                <div id="offer-details-section">{% include 'offers/offer_details_inner.html' %}</div>
            </div>
            {% if offer.product_img_local %}
            <div class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" style="height: 400px;">
                <img alt="ecommerce" class="w-full h-full object-cover object-center rounded"
                    src="{{ offer.product_img_local }}">
            </div>
            {% else %}
            <div class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" style="height: 400px;">
                <img alt="ecommerce" class="w-full h-full object-cover object-center rounded"
                    src="https://dummyimage.com/400x400">
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}