{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/offer_filter.js' %}"></script>
</head>

<body>
    <div class="max-w-7xl mx-auto">
        <header>
            {% include 'navbar.html' %}
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
            {% include 'footer.html' %}
        </footer>
    </div>
    {% include "scripts.html" %}
</body>

</html>