<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a href= "/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Best Offers</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="{% url 'homepage' %}" class="mr-5 hover:text-gray-900">Home</a>
        <a href="{% url 'contact' %}" class="mr-5 hover:text-gray-900">Contact us</a>
        {% if request.user.is_authenticated %}
        <div x-data="{dropdownMenu: false}" class="relative">
            <!-- Dropdown toggle button -->
            <button @click="dropdownMenu = ! dropdownMenu" class="flex items-center p-2 bg-white bg-gray-100 rounded-md">
                <span class="mr-4">Account: {{ request.user.username }}</span>
            </button>
            <!-- Dropdown list -->
            <div x-show="dropdownMenu" @click.away="dropdownMenu = false" class="absolute right-0 py-2 mt-2 bg-white bg-gray-50 rounded-md shadow-xl w-44">
                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white">
                    Settings
                </a>
                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white">
                    Log out
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'wishlist' %}" class="block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white">
                    My wish list
                </a>
            </div>
        </div>
        {% else %}
        <div x-data="{dropdownMenu: false}" class="relative">
            <!-- Dropdown toggle button -->
            <button @click="dropdownMenu = ! dropdownMenu" class="flex items-center p-2 bg-white bg-gray-100 rounded-md">
                <span class="mr-4">Account</span>
            </button>
            <!-- Dropdown list -->
            <div x-show="dropdownMenu" @click.away="dropdownMenu = false" class="absolute right-0 py-2 mt-2 bg-white bg-gray-50 rounded-md shadow-xl w-44">
                <a href="{% url 'login' %}" class="block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white">
                    Sign in
                </a>
                <a href="{% url 'signup' %}" class="block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white">
                    Register
                </a>
                <hr class="dropdown-divider">
                <a href="{% url 'wishlist' %}" class="block px-4 py-2 text-sm text-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white">
                    My wish list
                </a>
            </div>
        </div>
          {% endif %}
      </nav>
    </div>
  </header>