{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto">
    <a class="mt-3 text-indigo-500 inline-flex items-center" href="{% url 'wishlist' %}">Go back to wishlist</a>
    <h2 class="text-xm mt-5 title-font text-gray-900">Updating wishlist item:</h2>
    <h1 class="text-gray-900 text-3xl title-font font-medium mb-5">{{ wishlist_item.product_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            Update
        </button>
    </form>
</div>

{% endblock content %}