{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}

{% block content %}
<script src="{% static 'js/wishlist_test.js' %}"></script>
<div class="max-w-5xl mx-auto">
    <div class="flex">
        <div class="w-1/2">
            <a class="hover:text-blue-500 mt-5" href="{% url 'wishlist' %}">Go back to your wishlist</a>
            <hr />
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-5">Create a wishlist item:</h1>
            <form id="wishlist-form-id" method="post" class="mb-8">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="selected_values" id="selected-values">
                <button type="submit"
                    class="w-full text-white bg-indigo-500 border-0 mb-5 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                    Submit
                </button>
            </form>
        </div>
        <div class="w-1/2 pl-8">
            <button type="submit" id="test-wishlist-btn"
                class="w-full text-white bg-indigo-500 border-0 mb-5 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                Test wishlist ↓
            </button>
            <div id="test-wishlist-error-id">{% include 'wishlist_item_errors.html' %}</div>
            <p class="mx-auto leading-relaxed text-base text-gray-500">Example products that will be matched by your
                wishlist
                settings:</p>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead>
                    <tr>
                        <th
                            class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                            Product name</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                            Supermarket</th>
                    </tr>
                </thead>
                <tbody id="test-wishlist-tbody">{% include 'wishlist_tbody.html' %}</tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/wishlist_form_reset.js' %}"></script>
{% endblock %}